/* Reset CSS styles */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Header */
header {
  align-items: center;
  background-color: black;
  display: flex;
}

.logo-container {
  width: 20%;
}

.logo {
  margin: 10px 20px;
  width: 70%;
}

.horizontal-navbar {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.horizontal-navbar-link {
  color: white;
  font-size: 20px;
  width: auto;
}

/* Navbar */

.vertical-navbar {
  align-items: center;
  background-color: black;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  width: 117px;
  z-index: -1;
}

.navbar-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
  min-height: 300px;
  position: fixed;
  top: 25%;
  width: 64px;
}

.navbar-icon {
  height: 64px;
  width: 64px;
}

.copyright {
  bottom: 15%;
  color: white;
  font-size: 12px;
  position: absolute;
  rotate: 270deg;
  width: 160px;
}

/* Analytics */

main {
  border: solid 3px black;
  margin: 50px 50px 50px 167px;
  height: 600px;
}

/* Main */

.hello-user {
  font-size: 34px;
  margin-bottom: 20px;
}

.firstname {
  color: red;
}

/* NutrionalAnalysis*/

.nutritional-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 440px;
  width: 200px;
}

.nutritional-panel {
  align-items: center;
  background-color: #fbfbfb;
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;
}

.nutritional-data {
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: space-around;
  align-items: baseline;
  width: 70%;
}

.macro-icon {
  height: 50px;
  width: 50px;
}

.nutritional-value {
  color: #282d30;
  font-size: 24px;
  font-weight: bolder;
}

.nutritional-label {
  color: #74798c;
  font-size: 14px;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.analytics-element {
  box-sizing: border-box;
  padding: 20px;
}

.hello-component-container {
  grid-column: 1 / 14;
  grid-row: 1 / 1;
}

.barChart-component-container {
  align-items: center;
  display: flex;
  grid-column: 1 / 11;
  grid-row: 2 / 4;
  justify-content: center;
  padding: 20px 20px 0 20px;
}

.nutritional-container {
  grid-column: 11 / 14;
  grid-row: 2 / 5;
}

.item4 {
  background-color: #ff0000;
  border-radius: 5px;
  grid-column: 1 / 4;
  grid-row: 4 / 6;
  padding: 0;
}

.radar-component-container {
  background-color: #282d30;
  box-sizing: border-box;
  border-radius: 5px;
  grid-column: 4 / 7;
  grid-row: 4 / 6;
  padding: 0;
}

.pieChart-component-container {
  grid-column: 7 / 10;
  grid-row: 4 / 6;
  padding: 0;
}

.custom-legend {
  bottom: 250px;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 0;
  position: relative;
  width: 510px;
}

.custom-legend li {
  display: inline-block;
}

.activity-legend {
  color: black;
  font-weight: normal;
}

.weight-calories-container {
  color: #74798c;
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.dot-legend {
  margin-right: 10px;
}

.custom-tooltip {
  align-items: center;
  background-color: red;
  color: #fbfbfb;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  height: 90px;
  justify-content: space-around;
  width: 70px;
}

.pie-chart-container {
  height: 100%;
  position: relative;
  width: 100%;
}

.score-title {
  font-size: 14px;
  left: 0;
  position: absolute;
  top: 0;
}

.progress-text {
  align-items: center;
  color: black;
  display: flex;
  flex-direction: column;

  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
  width: 60px;
}

.percent-progress {
  font-size: 20px;
  font-weight: bolder;
}

.progress-text-complement {
  color: #74798c;
  font-size: 15px;
}

.LineChartComponent {
  width: 30%;
  height: 250px;
  border-radius: 5px;
  background: #f00;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
  position: relative;
}

.LineChartComponent h3 {
  font-size: 15px;
  color: white;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 135px;
  margin: 0;
  opacity: 0.5;
}

.customTooltipLine {
  display: flex;
  background-color: white;
  width: 45px;
  height: 30px;
  box-sizing: border-box;
  padding: 6px 0px;
  color: black;
  font-size: 9px;
  font-weight: 500;
}

.customTooltipLine p {
  margin: auto;
}
