.sessions-chart {
  width: 31%;
  height: 100%;
  background-color: #ff0000;
  border-radius: 5px;
  position: relative;
}
.session-tooltip {
  background-color: white;
  color: black;
  font-size: 0.8rem;
  height: 3rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recharts-wrapper {
  overflow: hidden;
}
.sessions-chart .recharts-tooltip-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  left: auto !important;
  right: 0 !important;
  transform: translate(0) !important;
  overflow: hidden;
  padding: 1rem;
  background-color: rgba(208, 46, 46, 0.5);
  min-width: 5rem;
}

.sessions-chart-title {
  position: absolute;
  top: 2rem;
  left: 2rem;
  color: white;
  width: 40%;
  opacity: 0.5;
}
@media (max-width: 1024px) {
  .session-tooltip {
    font-size: 0.6rem;
    height: 2rem;
    width: 3rem;
  }
  .sessions-chart-title {
    top: 1rem;
    left: 1rem;
    font-size: 15px;
  }
}
