.radial-chart {
  width: 31%;
  height: 100%;
  position: relative;
  background-color: #fbfbfb;
  border-radius: 5px;
  box-shadow: 0px 2px 4px 0px #00000005;
}
.infos-pie {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.nombre-pie {
  font-size: 2rem;
  font-weight: 700;
}
.texte-pie {
  font-size: 1rem;
  width: 4rem;
  text-align: center;
}

@media (max-width: 1024px) {
  .nombre-pie {
    font-size: 1rem;
  }
  .texte-pie {
    font-size: 0.8rem;
  }
}
